TestCshtml5WCF/Service References/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15026/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15026/Service1.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOrUpdateToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOrUpdateToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReplaceToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_ReplaceToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllToDos" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTheNumberOfToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfToDos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTheNumberOfToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTheNumberOfToDosPlusX_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfToDosPlusX" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTheNumberOfToDosPlusX_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfToDosPlusXResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServerDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServerDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplyThreeNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyThreeNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplyThreeNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyThreeNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetToDos" message="tns:IService1_GetToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetToDosResponse" message="tns:IService1_GetToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOrUpdateToDo" message="tns:IService1_AddOrUpdateToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddOrUpdateToDoResponse" message="tns:IService1_AddOrUpdateToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReplaceToDo" message="tns:IService1_ReplaceToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReplaceToDoResponse" message="tns:IService1_ReplaceToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteToDo" message="tns:IService1_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteToDoResponse" message="tns:IService1_DeleteToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAllToDos" message="tns:IService1_DeleteAllToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAllToDosResponse" message="tns:IService1_DeleteAllToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTheNumberOfToDos" message="tns:IService1_GetTheNumberOfToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTheNumberOfToDosResponse" message="tns:IService1_GetTheNumberOfToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfToDosPlusX">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTheNumberOfToDosPlusX" message="tns:IService1_GetTheNumberOfToDosPlusX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTheNumberOfToDosPlusXResponse" message="tns:IService1_GetTheNumberOfToDosPlusX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetServerDate" message="tns:IService1_GetServerDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetServerDateResponse" message="tns:IService1_GetServerDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyThreeNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MultiplyThreeNumbers" message="tns:IService1_MultiplyThreeNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiplyThreeNumbersResponse" message="tns:IService1_MultiplyThreeNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToDos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOrUpdateToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/ReplaceToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllToDos">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAllToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfToDos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTheNumberOfToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfToDosPlusX">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTheNumberOfToDosPlusX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyThreeNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/MultiplyThreeNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:15026/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>