TestCshtml5WCF/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22316/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItem" nillable="true" type="tns:ToDoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItem" nillable="true" type="tns:ArrayOfToDoItem" />
  <xs:complexType name="ToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CharValue" type="ser:char" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="NullableTest1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NullableTest2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NullableTest3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NullableTest4" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItem" nillable="true" type="tns:ToDoItem" />
</xs:schema>